@import 'https://fonts.googleapis.com/css?family=Orbitron';
.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}


.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

.tab-pane {
	padding: 20px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	min-height: 50vh;
}
#clock-tab {
	font-size: 16px;
}
#clock-tab #clock {
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 30px;
}
#clock-tab .input-group {
	margin-bottom: 30px;
}
#clock-tab p {
	padding-left: 15px;
	font-weight: bold;
}
#clock-tab table {
	width: 33.33333333%
}
#clock-tab .bg-danger, #clock-tab .bg-warning {
	padding: 20px;
}
#clock-tab .bg-danger span {
	margin-right: 15px;
}
.hide {
	display: none;
}