.site-wrapper {
    margin-top: 110px;
    padding: 0px 50px 0px 50px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}

.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

.filters {
    float: left;
}
.filters ul {
    list-style: none;
}
.filters li {
    padding: 5px;
}

.filters select,
#carYear,
input.btn {
    width: 180px;
}
#result {
    margin-top: 25px;
}