.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}


.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

/*If form unfilled*/

.fill .bg-success {
	display: none;
}
.fill .bg-danger {
	display: none;
}
.fill .form-table {
	display: none;
}

/*Form filled success*/

.success .bg-success {
	display: block;
}
.success .form-table {
	display: block;
}
.success .form-horizontal {
	display: none;
}
.success .bg-danger {
	display: none;
}
.success .lead {
	display: none;
}

/*Form has error*/

.error .bg-danger {
	display: block;
}
.error .form-horizontal {
	display: block;
}
.error .bg-success {
	display: none;
}
.error .form-table {
	display: none;
}
.error .lead {
	display: none;
}

/*Show password button*/

.show-password {
	background: #83ab64;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	padding: 4px 20px;
	min-width: 140px;
	outline: none;
}
.show-password:hover {
	background: #dff0d8;
}