.site-wrapper {
    margin-top: 110px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#result .result-of-throw {
	margin-top: 10px;
}
#result .dice {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 0 7px;
}

#result .result-with-feature {
	font-style: italic;
}

#result .result-of-game {
	margin: 20px 0;
	border: 1px solid #9d9d9d;
	display: inline-block;
	padding: 5px 10px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 5px;
}